@font-face {
  font-family: "latoregular";
  src: url("lato-regular-webfont.woff2") format("woff2"), url("lato-regular-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "betty_molly_-_personal_useRg";
  src: url("betty_molly_-_personal_use-webfont.woff2") format("woff2"), url("betty_molly_-_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: 0.1s linear;
  font-family: "latoregular";
}

:root.active {
  --couleur-principale: #2196f3;
  --background-sombre: #f2f2fC;
  --background-clair: #fdf9ff;
  --titres: #302e4d;
  --text: #504e70;
  --bordure-sombre: #d4d4e3;
}

:root {
  --couleur-principale: #2196f3;
  --background-sombre: #151515;
  --background-clair: #222222;
  --titres: #ffffff;
  --text: #e9e9e9;
  --bordure-sombre: #393939;
}

h1, h2, h3 {
  font-weight: 500;
}

.image_hover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 70vh;
  width: 80%;
  min-width: 300px;
  max-width: 800px;
  z-index: 99999;
  pointer-events: none;
  transition: 0.3s linear;
}
.image_hover.active {
  transform: translate(-50%, -50%) scale(1);
}
.image_hover img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.titre {
  color: var(--titres);
  font-size: 2rem;
  margin-bottom: 4rem;
  position: relative;
  background-color: var(--background-sombre);
  display: inline-block;
  padding: 1rem;
}
.titre::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  height: 30%;
  width: 20%;
  background-color: var(--couleur-principale);
  z-index: -1;
}
.titre::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: -6px;
  height: 30%;
  width: 20%;
  background-color: var(--couleur-principale);
  z-index: -1;
}

.sous_titre {
  color: var(--couleur-principale);
  font-size: 1.5rem;
  margin-bottom: 5rem;
  background-color: var(--background-sombre);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.4;
  letter-spacing: 5px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--couleur-principale);
  border-radius: 999px;
}

body {
  background-color: var(--background-sombre);
  overflow-x: hidden;
}

header {
  min-height: 100vh;
  position: relative;
}

.hautpage, .medias {
  position: absolute;
  bottom: 30px;
  right: 0;
  transform: rotate(-90deg);
}
.hautpage a, .medias a {
  font-size: 1.5rem;
  color: var(--titres);
}
.hautpage a:hover, .medias a:hover {
  color: var(--couleur-principale);
}
.hautpage a span, .medias a span {
  padding-right: 0.5rem;
}
.hautpage a i, .medias a i {
  transform: rotate(90deg);
}

.montre_logo {
  position: absolute;
  padding: 1rem;
  background-color: var(--background-clair);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  left: 9rem;
  top: 10px;
  border-radius: 0.5rem;
  color: var(--text);
}
.montre_logo::before {
  content: "";
  position: absolute;
  inset: 2px;
  border: 1px solid var(--couleur-principale);
  border-radius: 0.5rem;
}

.medias {
  position: absolute;
  right: initial;
  left: 4rem;
  gap: 1rem;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.medias::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -55%;
  transform: translateY(-50%);
  height: 2px;
  width: 50%;
  background-color: var(--couleur-principale);
}
.medias a i {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--titres);
  background-color: var(--background-clair);
}
.medias a i:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: var(--background-clair);
  background: var(--couleur-principale);
}

@keyframes cls_set {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.parametres {
  border-radius: 0.5rem;
  position: fixed;
  top: 10px;
  right: -220px;
  z-index: 9;
  padding: 1rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: var(--background-clair);
}
.parametres.active {
  right: 2rem;
}
.parametres .close_set {
  position: absolute;
  top: 0%;
  left: -4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--titres);
  height: 3rem;
  width: 3rem;
  font-size: 1.7rem;
  background-color: var(--background-clair);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.parametres .close_set:hover {
  color: var(--couleur-principale);
}
.parametres .close_set i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: cls_set 1s linear infinite;
}
.parametres h2 {
  color: var(--titres);
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
.parametres .couleurs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.parametres .couleurs div {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.parametres .theme_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.parametres .theme_toggle p {
  font-size: 1.5rem;
  color: var(--titres);
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.parametres .theme_toggle p:hover {
  border-bottom: 1px solid var(--couleur-principale);
}
.parametres .theme_toggle .theme {
  height: 3rem;
  width: 40%;
  margin: auto;
  border-radius: 999px;
  background-color: var(--bordure-sombre);
  position: relative;
  cursor: pointer;
}
.parametres .theme_toggle .theme.active::before {
  left: 4.8rem;
}
.parametres .theme_toggle .theme::before {
  content: "";
  position: absolute;
  top: 0.18rem;
  left: 0.2rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--titres);
  border-radius: 999px;
  transition: 0.2s linear;
}

.navigation {
  position: fixed;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  height: 99%;
  width: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 999;
  background-color: var(--background-clair);
  padding-top: 3rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.navigation.mobil_nav {
  bottom: 0;
  top: initial;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0;
  transform: none;
  display: none;
}
.navigation.mobil_nav ul {
  flex-direction: row;
  height: 100%;
}
.navigation.mobil_nav ul li {
  flex: 1;
}
.navigation.mobil_nav ul li a {
  width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation.mobil_nav ul li a i {
  margin: 0;
}
.navigation.active {
  width: 20rem;
}
.navigation.active #btns_nav {
  background-color: var(--blanc1);
  border: 1px solid var(--blanc2);
  border-right: var(--blanc3);
  border-bottom: var(--blanc3);
  -webkit-backdrop-filter: var(--filter);
          backdrop-filter: var(--filter);
}
.navigation.active ul li a span {
  visibility: visible;
  opacity: 1;
}
.navigation.active .h2 {
  visibility: visible;
}
.navigation .h2 {
  font-size: 5rem;
  color: var(--titres);
  width: 50%;
  display: block;
  margin: 5rem auto 7rem;
  position: relative;
  left: -1rem;
  visibility: hidden;
}
.navigation .h2 span {
  font-family: "betty_molly_-_personal_useRg";
}
.navigation .h2::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  width: 25%;
  height: 50%;
  border-right: 4px solid var(--couleur-principale);
  border-top: 4px solid var(--couleur-principale);
}
.navigation .h2::after {
  content: "";
  position: absolute;
  left: -1rem;
  bottom: -0.5rem;
  width: 25%;
  height: 50%;
  border-left: 4px solid var(--couleur-principale);
  border-bottom: 4px solid var(--couleur-principale);
}
.navigation #btns_nav {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--titres);
  position: absolute;
  top: 0;
  right: 0;
}
.navigation #btns_nav:hover {
  color: var(--couleur-principale);
}
.navigation #btns_nav.fa-times {
  transform: rotate(180deg);
}
.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.navigation ul li.active a i {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: var(--titres);
  background-color: var(--couleur-principale);
}
.navigation ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.7rem;
}
.navigation ul li a:hover span {
  color: var(--couleur-principale);
}
.navigation ul li a i {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2rem;
  color: var(--titres);
  background-color: var(--blanc1);
  border: 1px solid var(--blanc2);
  border-right: var(--blanc3);
  border-bottom: var(--blanc3);
  -webkit-backdrop-filter: var(--filter);
          backdrop-filter: var(--filter);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 1.5rem;
  position: relative;
}
.navigation ul li a span {
  flex-shrink: 0;
  font-size: 1.7rem;
  color: var(--text);
  visibility: hidden;
  opacity: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container .item {
  display: flex;
  justify-content: flex-start;
}

.container .item p {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--couleur-principale);
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  animation: an 1s infinite steps(var(--id));
  height: 33px;
}
.container .item p::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  background-color: var(--couleur-principale);
  right: -1px;
  top: 0;
  animation: curs 0.3s linear infinite;
}

@keyframes curs {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes an {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes long {
  from {
    top: 0%;
  }
  to {
    top: -400%;
  }
}
.banniere_p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 65%;
  margin: auto;
}
.banniere_p .containt {
  flex: 1 1 50%;
  padding: 2rem;
}
.banniere_p .containt h2 {
  font-size: 5rem;
  color: var(--titres);
  margin-bottom: 2.5rem;
}
.banniere_p .containt h3 {
  color: var(--text);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.banniere_p .containt .cont_slide {
  position: relative;
  height: 33px;
  overflow: hidden;
  flex: 1;
  margin-bottom: 3rem;
}
.banniere_p .containt .slider {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--text);
  gap: 1rem;
}
.banniere_p .containt .slider .je {
  font-size: 2rem;
  color: var(--text);
  height: 33px;
  line-height: 28px;
}
.banniere_p .containt .slider .dev {
  position: absolute;
  animation: long 4s infinite steps(4);
}
.banniere_p .containt .boutons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.banniere_p .containt .boutons a {
  font-size: 1.5rem;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--couleur-principale);
  background-color: var(--background-clair);
  white-space: nowrap;
}
.banniere_p .containt .boutons a:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: var(--background-clair);
  background: var(--couleur-principale);
}
.banniere_p .image {
  flex: 1 1 40%;
  height: 45rem;
}
.banniere_p .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content_princ {
  width: 75%;
  margin: auto;
  padding-top: 3rem;
}

.a_propos {
  padding-top: 2rem;
  margin-top: 3rem;
}
.a_propos .container_app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.a_propos .container_app .containt {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.a_propos .container_app .containt div.left, .a_propos .container_app .containt div.right {
  flex: 1;
}
.a_propos .container_app .containt div.right {
  text-align: end;
}
.a_propos .container_app .containt div p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--text);
}
.a_propos .container_app .containt div p span:nth-child(2) {
  color: var(--couleur-principale);
}
.a_propos .container_app .containt div p span:nth-child(1) {
  padding-right: 1rem;
}
.a_propos .container_app .containt div p a {
  color: var(--couleur-principale);
  text-decoration: underline;
}
.a_propos .container_app .cont_cnt .center {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  outline: 1px solid var(--couleur-principale);
  outline-offset: 3px;
  overflow: hidden;
}
.a_propos .container_app .cont_cnt .center img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.a_propos .container_app .cont_cnt a {
  font-size: 1.5rem;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--couleur-principale);
  background-color: var(--background-clair);
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
.a_propos .container_app .cont_cnt a:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: var(--background-clair);
  background: var(--couleur-principale);
}
.a_propos .experience {
  margin-top: 5rem;
}
.a_propos .experience.active h3 ~ .container_carte .carte .carte_top svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 * var(--i));
}
.a_propos .experience h3 {
  padding-top: 2rem;
}
.a_propos .experience .container_carte {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.a_propos .experience .carte {
  background: var(--background-clair);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 2rem 0;
}
.a_propos .experience .carte .carte_top {
  height: 160px;
  width: 160px;
  position: relative;
}
.a_propos .experience .carte .carte_top svg {
  height: 100%;
  width: 100%;
}
.a_propos .experience .carte .carte_top svg circle {
  fill: none;
  stroke: var(--couleur-principale);
  stroke-width: 10px;
  transform: translate(10px, 10px);
  stroke-dashoffset: 438;
  stroke-dasharray: 440;
  stroke-linecap: round;
  transition: 3s;
}
.a_propos .experience .carte .carte_top svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke-dasharray: 440;
  stroke: rgba(0, 0, 0, 0.11);
}
.a_propos .experience .carte .carte_top h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--text);
  font-weight: 600;
}
.a_propos .experience .carte .title {
  font-size: 1.5rem;
  color: var(--titres);
  margin-top: 2rem;
}

.contact {
  margin-top: 10rem;
}
.contact .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.contact .container .containt {
  flex: 1 1 42rem;
}
.contact .container .containt .container_infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  border-radius: 0.5rem;
}
.contact .container .containt .item {
  padding: 1.1rem 2rem;
  background-color: var(--background-clair);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  display: initial;
}
.contact .container .containt .item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.contact .container .containt .item h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--titres);
}
.contact .container .containt .item .it_cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.contact .container .containt .item .it_cont i {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  min-width: 35px;
  font-size: 1.7rem;
  color: var(--background-clair);
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--couleur-principale);
  background-color: var(--background-clair);
}
.contact .container .containt .item .it_cont a {
  color: var(--couleur-principale);
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.contact .container .containt .item:nth-child(5) a {
  white-space: nowrap;
}
.contact .container .formulaire {
  flex: 1 1 42rem;
}
.contact .container .formulaire form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nom num" "sujet sujet" "message message" "boutton boutton";
  gap: 1rem;
}
.contact .container .formulaire form .cont_inp {
  position: relative;
}
.contact .container .formulaire form .cont_inp:nth-child(1) {
  grid-area: nom;
}
.contact .container .formulaire form .cont_inp:nth-child(2) {
  grid-area: num;
}
.contact .container .formulaire form .cont_inp:nth-child(3) {
  grid-area: sujet;
}
.contact .container .formulaire form .cont_inp:nth-child(4) {
  grid-area: message;
}
.contact .container .formulaire form .cont_inp:nth-child(4) label {
  top: 1.5rem;
  transform: translateY(0);
}
.contact .container .formulaire form .cont_inp:nth-child(5) {
  grid-area: boutton;
}
.contact .container .formulaire form .cont_inp:focus-within label, .contact .container .formulaire form .cont_inp.active label {
  top: -1.8rem;
  color: var(--couleur-principale);
  opacity: 0;
}
.contact .container .formulaire form .cont_inp label {
  color: var(--text);
  position: absolute;
  top: 50%;
  left: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  transform: translateY(-50%);
}
.contact .container .formulaire form .cont_inp input, .contact .container .formulaire form .cont_inp textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--text);
  background-color: var(--background-clair);
}
.contact .container .formulaire form .cont_inp textarea {
  resize: none;
  height: 12rem;
}
.contact .container .formulaire form .cont_inp button {
  font-size: 1.5rem;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--couleur-principale);
  background-color: var(--background-clair);
  width: 100%;
  cursor: pointer;
  margin-top: 0.5rem;
}
.contact .container .formulaire form .cont_inp button:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: var(--background-clair);
  background: var(--couleur-principale);
}

.footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 5rem;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
.footer span {
  font-size: 1.5rem;
  color: var(--text);
  padding: 0 1rem;
}
.footer span:nth-child(2) {
  color: var(--couleur-principale);
}

.container_email_confirmed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container_email_confirmed h1 {
  font-size: 5rem;
  color: var(--couleur-principale);
}
.container_email_confirmed p {
  margin: 2rem 0;
  color: var(--text);
  font-size: 1.7rem;
}
.container_email_confirmed a {
  font-size: 1.5rem;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--couleur-principale);
  background-color: var(--background-clair);
  white-space: nowrap;
}
.container_email_confirmed a:hover {
  color: var(--background-clair);
  background-color: var(--couleur-principale);
}

@media screen and (max-width: 1000px) {
  .a_propos .ma_formation .container {
    gap: 5rem;
  }
}
@media screen and (max-width: 850px) {
  .navigation {
    display: none;
  }
  .navigation.mobil_nav {
    display: block;
  }
  .banniere_p {
    width: 95%;
  }
  .content_princ {
    width: 75%;
  }
  .medias {
    left: 0;
    bottom: 0;
  }
  .montre_logo {
    left: 3rem;
  }
  footer {
    margin-top: 5rem;
  }
  .titre {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 750px) {
  .a_propos .ma_formation .container {
    gap: 2rem;
  }
  .a_propos .ma_formation .container .containt {
    flex: 100%;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 55%;
  }
  .banniere_p .containt {
    flex: 1 1 100%;
  }
  .banniere_p .image {
    flex: 1 1 100%;
    height: 30rem;
  }
  .parametres {
    right: -185px;
  }
  .a_propos .container_app .containt {
    margin-top: 2rem;
  }
  .a_propos .container_app .containt div.left, .a_propos .container_app .containt div.right {
    flex: 100%;
    text-align: center;
  }
  .content_princ {
    width: 95%;
  }
}
@media screen and (max-width: 690px) {
  .contact .container .formulaire form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "nom" "num" "sujet" "message" "boutton";
    gap: 1rem;
  }
  .contact .container .formulaire form .cont_inp button {
    margin-top: 0;
  }
  .contact .container .formulaire form .cont_inp textarea {
    height: 150px;
  }
}
@media screen and (max-width: 574px) {
  .a_propos .container_app {
    gap: 0;
  }
  .a_propos .container_app .carte_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .banniere_p .containt .slider .je {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */